@page "/"
@using System.Security.Claims

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

<hr />

@if (User == null)
{
    <p>Click here to login</p>
    <button type="button" class="btn btn-primary" @onclick="OnLoginClick">Login</button>
}
else
{
    <p>Email: @User.FindFirst(ClaimTypes.Email).Value</p>
    <p>UTID: @User.FindFirst("utid").Value</p>
    <p>UID: @User.FindFirst("uid").Value</p>
    <hr />
    <p>Get Token in Behalf of User</p>
    @if (TokenResult != null)
    {
        @if (TokenResult.Success)
        {
            <p class="text-success">@TokenResult.Message</p>
        }
        else
        {
            <p class="text-danger">@TokenResult.Message</p>
        }
    }
    <button type="button" class="btn btn-primary" @onclick="OnGetTokenClick">Get Token</button>
    <hr />
    <p>Get Custom Claim</p>
    @if (CustomClaimResult != null)
    {
        @if (CustomClaimResult.Success)
        {
            <p class="text-success">@CustomClaimResult.Message</p>
        }
        else
        {
            <p class="text-danger">@CustomClaimResult.Message</p>
        }
    }
    <button type="button" class="btn btn-primary" @onclick="OnGetCustomClaimClick">Get Custom Claim</button>
}